<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accepted Applications</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #ffe; /* White background */
        }
        .navbar {
            background-color: #000000 !important; /* Black navbar color */
        }
        .navbar-text {
            color: #ffffff !important; /* White text in navbar */
        }
        #submitButton {
            background-color: #000000; /* Black submit button */
        }
    </style>
</head>
<body>
<script>
  function lO() {
    alert("Logged out"); // Display message
    window.location.href = "/"; // Redirect to index.php
  }
</script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('employee_main', username=username) }}">HOME</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Edit Details</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{{ url_for('viewforms', username=username) }}">View Forms</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('viewAcceptedForms', username=username) }}" active >Accepted Applications</a>
            </li>
        </ul>
        <span class="navbar-text mr-3">
            Welcome, {{ username }}
        </span>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-danger my-2 my-sm-0" type="button" onclick="logout()">Logout</button>
        </form>
    </div>
</nav>

<div class="container mt-5">
    <h3 class="text-center">Accepted Applications</h3>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Application Number</th>
                <th>Scheme ID</th>
                <th>Status</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for application in register %}
            {% if application.STATUS == 'Approved' %}
            <tr>
                <td>{{ application.APPLICATION_NO }}</td>
                <td>{{ application.SCHEME_ID }}</td>
                <td>{{ application.STATUS }}</td>
                <td>{{ application.DATE }}</td>
                <td><a href="{{ url_for('getUserData',app_no=application.AADHAR_NO) }}" class="btn btn-primary">Get Details</a></td>
            </tr>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>